
<div class="page-head">
    <h2 class="page-head-title">Pendiente de Despacho</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a href="#">Despachos del Sistema</a></li>
        <!-- <li class="breadcrumb-item">Listado de Órdenes de Recibo</li>
        <li class="breadcrumb-item active">Identificar Pallets</li> -->
      </ol>
    </nav>
  </div>
  
  <div class="main-content container-fluid">
  
      <div class="col-md-12">
      <div class="card card-border-color card-border-color-danger">
          <div class="card-header">
                    <b> Filtro de búsqueda  </b>  
              </div>
          <div class="card-body">
              <div class="row">
            
                  <div class="col-md-3">
                      <label class="col-form-label text-sm-right" for="username">Propietario:</label>
                      
                      <mat-form-field class="input-form-field  col-sm-8 ">
                          <mat-select [formControl]="ClientesCtrl" [(value)]="model.PropietarioId" >
                           <mat-option>
                               <ngx-mat-select-search [noEntriesFoundLabel]="'Sin elementos'" [placeholderLabel]="'Buscar'"  [formControl]="ClientesFilterCtrl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option  *ngFor="let pow of filteredClientes  | async"  [value]="pow.val">
                                {{pow.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                      <div class="col-md-3">
                        <label class="control-label" for="username">Intervalo:</label>
                         <mat-form-field class="input-form-field  col-sm-8 ">
                            <mat-select  [(value)]="model.intervalo" >
                              <mat-option  *ngFor="let pow of intervalo"  [value]="pow.val">
                                  {{pow.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <label class="control-label" for="username">Estado:</label>
                          <mat-form-field class="input-form-field  col-sm-8 ">
                              <mat-select  [(value)]="model.estadoIdfiltro" >
                                <mat-option  *ngFor="let pow of estados"  [value]="pow.val">
                                    {{pow.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
    
                  <div class="col-md-3">
                     <button class="btn btn-block btn-danger"  (click)="buscar()"  type="button">Buscar</button>
                  </div>
               
                </div>
          </div>
      </div>
  
    </div>
  <div class="col-md-12">
  
  
    <div class="card card-border-color card-border-color-danger">
      <div class="card-header">
          
            <div  [hidden]="!checkSelects()">
                <b> Pendientes de despacho  </b> <span class="card-subtitle">   Listado de picking pendiente de despacho</span>
            </div>
            <div  [hidden]="checkSelects()" >
                <b> Órdenes seleccionadas  :  {{selection.selected.length}} </b>  <span class="card-subtitle">   Listado de picking pendiente de despacho</span>
            </div>
        </div>
      
    
          <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-3">
                  <button class="btn btn-block  btn-primary" ngbTooltip="Asignar Transporte"  (click)="asignar()"  type="button">Asignar Transporte </button>  
              </div>
              <div class="col-md-3">
                <button class="btn btn-block  btn-danger" [swal]="darSalidaSwal" (confirm)="darsalida()"  ngbTooltip="Dar Salida"    type="button">Dar Salida</button>  
              </div>
         
              <div class="col-md-1">
              </div>
              <div  class="col-md-3">
                  <div class="input-container">
                      <i class="fa fa-search"></i>
                      <mat-form-field class="search-form-field" >
                        <input matInput [(ngModel)]="searchKey" placeholder="Filtrar..." autocomplete="off" (keyup)="applyFilter()">
                      </mat-form-field>
                      </div>
                </div>
          </div>
          <div class="card-body">
          <div  class="example-container mat-elevation-z8">
              <mat-table #table [dataSource] = "listData" matSort >
               
                  <ng-container matColumnDef="select" sticky>
                      <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                                      [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)"
                                      [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                      </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="propietario" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header >  Propietario </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.propietario}} </mat-cell>
                  </ng-container>
  
                 <ng-container matColumnDef="numCarga">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
                  <mat-cell  *matCellDef="let orden" > 
                        <span class="label label-info pull-xs-center">SHP{{orden.shipmentNumber}}</span>
                  </mat-cell>
                </ng-container>
          
            
                  <ng-container matColumnDef="estado" >
                      <mat-header-cell *matHeaderCellDef mat-sort-header >  Estado </mat-header-cell>
                      <mat-cell *matCellDef="let user"> {{user.estado}} </mat-cell>
                    </ng-container>
  
  
                    <ng-container matColumnDef="placa" >
                        <mat-header-cell *matHeaderCellDef mat-sort-header >  Placa </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.placa}} </mat-cell>
                      </ng-container>
              
                      <ng-container matColumnDef="equipoTransporte">
                        <mat-header-cell *matHeaderCellDef mat-sort-header >Equipo Transporte</mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.equipoTransporte}} </mat-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="fechaRegistro">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Registro</mat-header-cell>
                          <mat-cell *matCellDef="let user"> 
                              {{user.fechaRegistro | date:'dd-MM-yyyy' }} 
                          </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="fechaRequerida">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Requerida</mat-header-cell>
                          <mat-cell *matCellDef="let user"> 
                              {{user.fechaRequerida | date:'dd-MM-yyyy' }} 
                          </mat-cell>
                        </ng-container>
  
  
             
                    <ng-container matColumnDef="actionsColumn">
                        <mat-header-cell *matHeaderCellDef>
                              <!-- <button mat-fab ngbTooltip="Nueva Orden de Salida" color="primary"  routerLink="/despacho/nuevaordensalida"> <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button>   -->
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <!-- <button   class="btn btn-space btn-outline-primary" ngbTooltip="Editar Orden" (click)="edit(row.ordenReciboId)" type="button"><i class="fas fa-edit"></i></button>
                            <button [swal]="deleteSwal" (confirm)="delete(row.ordenSalidaId)"  [disabled]="row.nombreEstado != 'Planeado'"  class="btn btn-space btn-outline-primary" ngbTooltip="Eliminar Orden" type="button"><i class="fas fa-trash"></i></button> -->
                            <button  class="btn btn-space btn-outline-primary" (click)="ver(row.ordenSalidaId)" type="button"><i class="fas fa-search"></i></button>
                          </mat-cell>
                    </ng-container>
           
            
              <mat-header-row *matHeaderRowDef="displayedColumns; " ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" 
              
              [ngClass]="{ 'highlight': selectedRowIndex == row.id}"
               (click)="highlight(row)"> 
  
              </mat-row>
            
            
              </mat-table>
  
  
             <mat-paginator [pageSizeOptions]="[ 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  
            </div>
          
      </div>
     
    </div>
  </div>
  
  
  </div>
  
  <swal
    #darSalidaSwal
    title="Salida de despacho"
    text="¿Esta seguro que desea dar salida al despacho?"
    type="question"
    [showCancelButton]="true"
    [focusCancel]="true"
    [options]="{ confirmButtonText: 'Aceptar' }"
    >
  </swal>
  
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
  
  