
<div class="page-head">
    <h2 class="page-head-title">Acomodo de Pallets</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a [routerLink]="['/recibo/listaordenrecibida', this.EquipoTransporteId]" routerLinkActive="router-link-active" >Equipos de Transporte</a></li>
        <li class="breadcrumb-item active">Acomodo</li>
      </ol>
    </nav>
 </div>

<div class="main-content container-fluid">
    <div class="row">
        <div  class="col-md-5">
            <div class="card card-border-color card-border-color-primary">
              <div class="card-header card-header-divider">

              <div class="row">
                <b> Inventario de la Orden de Recibo  </b>  
              </div>
              </div>




              <div class="card-body  ui-g">
                  
                    <div *ngIf="inventarios" style="overflow-y: scroll; height:400px;" class="ui-g-12 ui-md-12 ui-g-nopad drag-column">
                      <ul  style="margin:0;padding:0">
                          <li *ngFor="let car of inventarios" class="ui-helper-clearfix" pDraggable="inventario"
                              (onDragStart)="dragStart($event,car)" (onDragEnd)="dragEnd($event)">
                              <i class="pi pi-plus" style="float:right;font-size: 32px;"></i>
                               <img width="60px" height="60px" src="assets/img/pallet.png" style="float:left" draggable="false"> 
                              <div style="margin:2px 0 0 8px;float:left">{{car.lodNum}} - {{car.lotNum}}</div>
                              <div style="margin:2px 0 0 8px;float:left">{{car.descripcionLarga}} - {{car.codigoHuella}} : {{car.untQty}}</div>
                          </li>
                      </ul>
                   </div>
                   <div *ngIf="inventarios == null" style="overflow-y: scroll; height:400px;" class="ui-g-12 ui-md-12 ui-g-nopad drag-column">
                    <ul  style="margin:0;padding:0">
                      <li  class="ui-helper-clearfix"     >
                           
                          <div style="margin:2px 0 0 8px;float:left">No hay mas pallets pendientes de acomodo</div>
                          
                      </li>
                  </ul>
                 </div>
                   
             </div>
          </div>
       </div>
       <div class="col-md-7">
            <div class="card card-border-color card-border-color-primary">
                <div class="card-header card-header-divider">Acomodo<span class="card-subtitle">Selecciona una ubicación para el pallet</span></div>
                  <div class="card-body">
       
                      <div class="input-div">
                          <label class="col-12 col-sm-3 col-form-label text-sm-right" for="username">Área</label>
                          <mat-form-field class="input-form-field col-12 col-sm-8 col-lg-6">
                              <mat-select required  [(value)]="model.areaId" (selectionChange)="onChange($event)" placeholder="Selección">
                                <mat-option  *ngFor="let pow of areas"  [value]="pow.val">
                                    {{pow.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                      <div  class="mat-elevation-z8">
                        <div class="p-grid" style="margin-top: .5em"> 
                          <!-- [@animation]="'visible'" -->
                          <div class="p-col" *ngFor="let col of ubicaciones; let i=index" >
                              <div  pDroppable="inventario"   (onDrop)="drop(col)" [className]="condition ? 'active' : 'inactive'" (click)="select_ubicacion(i)" class="box">{{col.ubicacion}}</div>
                          </div>
                      </div>


                     
               
                        </div>
                      
                  </div>

          </div>
          <div class="row pt-2 pt-sm-5 mt-1">
            <div class="col-sm-6 pl-0">
              <p class="text-right">
                <button  (click)="asignarUbicacion()"   [disabled]="inventarios != null" class="btn btn-space btn-primary" type="button">Guardar</button>
                <button (click)="deshacer()" class="btn btn-space btn-secondary"> Deshacer</button>
              </p>
            </div>
          </div>
      </div> 
      
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>