
<div class="page-head">
  <h2 class="page-head-title">Gestión de preliquidación </h2>
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb page-head-nav">
      <li class="breadcrumb-item"><a href="#">Generar Comprobantes</a></li>
      <!-- <li class="breadcrumb-item">Listado de Órdenes de Recibo</li>
      <li class="breadcrumb-item active">Identificar Pallets</li> -->
    </ol>
  </nav>
</div>

<div class="main-content container-fluid">

      <div class="col-md-12">
    <div class="card card-border-color card-border-color-warning">
        <div class="card-header">
                  <b> Filtro de búsqueda  </b>  
            </div>
        <div class="card-body">
            <div class="row">
          
                <div class="col-md-3">
                    <label class="col-form-label text-sm-right" for="username">Propietario:</label>
                    
                    <mat-form-field class="input-form-field  col-sm-8 ">
                        <mat-select [formControl]="ClientesCtrl" [(value)]="model.PropietarioId" >
                         <mat-option>
                             <ngx-mat-select-search [noEntriesFoundLabel]="'Sin elementos'" [placeholderLabel]="'Buscar'"  [formControl]="ClientesFilterCtrl"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option  *ngFor="let pow of filteredClientes  | async"  [value]="pow.val">
                              {{pow.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                    <div class="col-md-3">
                      <label class="control-label" for="username">Intervalo:</label>
                       <mat-form-field class="input-form-field  col-sm-8 ">
                          <mat-select  [(value)]="model.intervalo" >
                            <mat-option  *ngFor="let pow of intervalo"  [value]="pow.val">
                                {{pow.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" for="username">Estado:</label>
                        <mat-form-field class="input-form-field  col-sm-8 ">
                            <mat-select  [(value)]="model.estadoIdfiltro" >
                              <mat-option  *ngFor="let pow of estados"  [value]="pow.val">
                                  {{pow.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>
  
                <div class="col-md-3">
                   <button class="btn btn-block btn-warning"  (click)="buscar()"  type="button">Buscar</button>
                </div>
             
              </div>
        </div>
    </div>

  </div>
<div class="col-md-12">


  <div class="card card-border-color card-border-color-warning">
    <div class="card-header">
          <div  [hidden]="!checkSelects()">
              <b> Órdenes de Salida  </b> <span class="card-subtitle">   Listado de ordenes de salida del sistema</span>
          </div>
          <div  [hidden]="checkSelects()" >
              <b> Órdenes seleccionadas  :  {{selection.selected.length}} </b>  <span class="card-subtitle">   Listado de ordenes de salida del sistema</span>
          </div>
      </div>
     
    <div class="row">
      <div class="col-md-1">
      </div>
      <div  class="col-md-3">
          <button type="button" [swal]='confirmarSwal' ngbTooltip="Generar Factura"  (confirm)="generar()" class="btn btn-block btn-primary"><i class="fa fa-folder"></i> Generar Factura</button>
      </div>
        <div  class="col-md-4 offset-md-2" >
            <div class="input-container">
                <i class="fa fa-search"></i>
                <mat-form-field class="search-form-field" >
                  <input matInput [(ngModel)]="searchKey" placeholder="Filtrar..." autocomplete="off" (keyup)="applyFilter()">
                </mat-form-field>
                </div>
          </div>
    </div>

 
    <div class="card-body">
        <div  class="example-container">
     
            <mat-table #table [dataSource] = "listData" matSort >
             
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </mat-cell>
            </ng-container>

               <ng-container matColumnDef="numLiquidacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header> N° Liquidación</mat-header-cell>
                <mat-cell  *matCellDef="let orden" > 
                    
                      <span class="label label-info pull-xs-center">{{orden.numLiquidacion}}</span>
                    
            
                </mat-cell>
              </ng-container>
        
          
                <ng-container matColumnDef="propietario" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header >  Propietario </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.propietario}} </mat-cell>
                  </ng-container>
          
                  
          
               
                <ng-container matColumnDef="estado">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado  </mat-header-cell>
                      <mat-cell *matCellDef="let user"> 

                    <div *ngIf="user.estado == 'Planeado' then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>  <div  [style.color]="'#FFFFFF'" [style.background-color]="'#0c9811'">{{user.nombreEstado}}     </div>     </ng-template>
                    <ng-template #elseBlock>   <div>{{user.estado}}     </div>   </ng-template>  
                      </mat-cell>
                </ng-container>


              <ng-container matColumnDef="equipotransporte">
                <mat-header-cell *matHeaderCellDef> Equipo de Transporte </mat-header-cell>
                <mat-cell *matCellDef="let user"> 
                  <div *ngIf="user.equipotransporte then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>  <div  [style.color]="'#FFFFFF'" [style.background-color]="'#0c9811'">{{user.equipotransporte}}     </div>     </ng-template>
                  <ng-template #elseBlock>  
                     Sin equipo 
                   </ng-template>  
                
                  
                
                </mat-cell>
              </ng-container>

                    <ng-container matColumnDef="FechaLiquidacion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Liquidación</mat-header-cell>
                        <mat-cell *matCellDef="let user"> 
                            {{user.fechaLiquidacion | date:'dd-MM-yyyy' }} 
                        </mat-cell>
                      </ng-container>
                      
                  <ng-container matColumnDef="SubTotal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header > SubTotal </mat-header-cell>
                    <mat-cell *matCellDef="let user"> S/. {{user.subTotal | number:'1.0-2'}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Igv">
                    <mat-header-cell *matHeaderCellDef mat-sort-header > Igv </mat-header-cell>
                    <mat-cell *matCellDef="let user"> S/. {{user.igv | number:'1.0-2'}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header > Total </mat-header-cell>
                    <mat-cell *matCellDef="let user"> S/. {{user.total | number:'1.0-2' }} </mat-cell>
                  </ng-container>

                     
           
                  <ng-container matColumnDef="actionsColumn">
                      <mat-header-cell *matHeaderCellDef>
                           <!-- <button mat-fab ngbTooltip="Nueva Orden de Salida" color="primary"  routerLink="/despacho/nuevaordensalida"> <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button>  -->
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                          <button   class="btn btn-space btn-outline-primary" ngbTooltip="Editar Orden" (click)="edit(row.ordenReciboId)" type="button"><i class="fas fa-edit"></i></button>
                          <button [swal]="deleteSwal" (confirm)="delete(row.ordenSalidaId)"  [disabled]="row.nombreEstado != 'Creado'"  class="btn btn-space btn-outline-primary" ngbTooltip="Eliminar Orden" type="button"><i class="fas fa-trash"></i></button>
                          <button  class="btn btn-space btn-outline-primary" (click)="ver(row.ordenSalidaId)" type="button"><i class="fas fa-search"></i></button>
                        </mat-cell>
                  </ng-container>
         
          
            <mat-header-row *matHeaderRowDef="displayedColumns; " ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" 
            
            [ngClass]="{ 'highlight': selectedRowIndex == row.id}"
             (click)="highlight(row)"> 

            </mat-row>
          
          
            </mat-table> 


           <mat-paginator [pageSizeOptions]="[ 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

          </div> 
        
    </div>
   
  </div>
</div>


</div>

<swal
  #confirmarSwal
  title="Confirmar generación Factura"
  text="¿Esta seguro que desea generar la factura?"
  type="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  [options]="{ confirmButtonText: 'Facturar' }"
  >
</swal>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<!-- <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="indeterminate"
          [value]="value"
          [bufferValue]="bufferValue">
</mat-progress-bar> -->

       <!-- <ag-grid-angular 
            #agGrid
            style="width: 500px; height: 500px;"
            id="myGrid" 
            class="ag-theme-balham"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            [context]="context"
            [frameworkComponents]="frameworkComponents"
            (gridReady)="onGridReady($event)"
            >
            </ag-grid-angular> -->