.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.mat-column-nombreEstado {
  
  text-align: center;
}
.mat-column-NumOrden {
  flex: 0 0 135px;
  text-align: center;
}
.mat-column-Propietario {
  flex: 0 0 135px;
  text-align: center;
}
.mat-column-EquipoTransporte {
  flex: 0 0 135px;
  text-align: center;
}



.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.mat-cell ,
th.mat-header-cell{
    border-bottom-width: 0px;
    font-size: 13px !important;
    color: #7a7a7a;
    text-align: left;
}
.mat-cell:first-of-type, 
.mat-footer-cell:first-of-type, 
.mat-header-cell:first-of-type 
{
  padding-left: 10px;
}
.mat-footer-row, .mat-header-row, .mat-row
{
  border-bottom-width : 0px;

}